// Colores de backgrounds
$background-generic: #22262b;
$background-dark: #080808;

// Colores de fuentes
$font-color-alternative: #69c3d9;
$font-color-light: #ffff;
$font-color-grey: #8a8888;
$font-color-dark: #000;

// Colores de botones
$button-hover: #ffff;
$button-primary: #69c3d9;
